package day%d;

import rccookie.util.Console;

public class Day extends util.Day {

    @Override
    public void run1() throws Exception {
        String[] input = inputInLines();
        Console.log((Object[])input);
        
    }

    @Override
    public void run2() throws Exception {
        super.run2();
    }
}
